<h1>Remove Course</h1>

<p>Are you sure you want to <strong class="warning">permanently remove</strong> the following course?</p>

<table class="index" id="courses" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr class="node level-1">
      <td class="course">
        <%= image('courses/course', :alt => 'course-icon') %>
        <%= h @course.title %>
      </td>
    </tr>
  </tbody>
</table>

<% form_tag do %>
  <p class="buttons">
    <input class="button" type="submit" value="Delete course"/>
    or
    <%= link_to 'Cancel', course_index_url %>
  </p>
<%- end -%>
